body {
    margin: 0;
    
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.gameBoard {
    background-color: white;
    width: 210px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.squares {
    border: 1px solid black;
    width: 68px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beastydiv {
    background-color: white;
    width: 200px;
    height: 50px;
}